@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户重置密码</title>
    @Styles.Render("~/Content/css/style.css")
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">用户重置密码</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle"><span>基本信息</span></div>
        <ul class="forminfo">
            <li><label>用户账号</label><input name="" type="text" class="dfinput" placeholder="用户账号" /><i></i></li>
            <li><label>原始密码</label><input name="" type="text" class="dfinput" placeholder="原始密码" /><i></i></li>
            <li><label>新密码</label><input name="" type="text" class="dfinput" value="" placeholder="新密码" /><i></i></li>
            <li><label>确认新密码</label><input name="" type="text" class="dfinput" value="" placeholder="确认新密码" /><i></i></li>
            <li><label>&nbsp;</label><input name="" type="button" class="btn" value="确认保存" />&nbsp;&nbsp;&nbsp;<input name="" type="button" class="btn" value="取消" /></li>
        </ul>
    </div>
</body>
</html>
